*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build/generated
/build/intermediates
/build/temp
/build/output/logs
/captures
.externalNativeBuild
.cxx

# Project exclude paths
/DataCollection/build/